      
body {
    font-family: "Sevillana", cursive;
    background: linear-gradient(40deg, green , white, rgb(136, 220, 148) 20%, white, rgb(96, 124, 96), white);
}
   
p { 
  font-family: "Jacquard 12", system-ui;
}

p::first-letter {
  font-size: 45px;
}


.noticias {
  font-size: 20px;
}

.noticias::first-line {
  font-size: 32px;
}

.destaque::before {
  content: "😁😁😁";
}

.destaque::after {
  content:"💻💻💻";
}

.logomaringa {
  width: 90px;
  float: left;
  margin: 20px;
  box-shadow: 10px 7px 5px 5px black;
}
